if SHIELD_CORNEBT_LEFT

config ZMK_KEYBOARD_NAME
    default "CorneBt"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNEBT_LEFT || SHIELD_CORNEBT_RIGHT

config ZMK_SPLIT
    default y

endif