#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                display-name = "BASE";
// -----------------------------------------------------------------------------------------
// | GUI/ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | BSPC |
// |  RCTL   |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |  '   |
// |   DEL   |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  |  `   |
//                       | SHFT| LWR | SPC |   | ENT | RSE | ALT/TAB |
                        bindings = <
   &mt LGUI ESC &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp RCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp DEL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp GRAVE
                  &kp LSHFT &mo 1 &kp SPACE   &kp RET &mo 2 &mt LALT TAB
                        >;
                };

                nbs_layer {
                display-name = "Nbs";
// -----------------------------------------------------------------------------------------
// | ALT/ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// | CTL/ENT | GUI | TAB |PSCR | HOME| PGUP|   |  F2 |  UP | F12 |  [  |  ]  |  '   |
// |   DEL   | LY3 | LY4 | LY5 | END | PGDN|   | LEFT| DOWN| RGHT|  \  |  /  | ALT/TAB |
//                       | SHFT| --- | SPC |   | ENT |  ,  |  .  |
                        bindings = <
   &mt LALT ESC &kp N1   &kp N2  &kp N3   &kp N4   &kp N5      &kp N6   &kp N7   &kp N8    &kp N9   &kp N0   &kp BSPC
   &mt LCTRL RET &kp LGUI &kp TAB &kp PSCRN &kp HOME &kp PG_UP   &kp F2   &kp UP   &kp F12   &kp LBKT &kp RBKT &kp SQT
   &kp DEL &mo 3 &to 4 &to 5 &kp END &kp PG_DN   &kp LEFT &kp DOWN &kp RIGHT &kp BSLH &kp FSLH &mt LALT TAB
                          &kp LSHFT &mo 0 &kp SPACE   &kp RET &kp COMMA &kp DOT
                        >;
                };

                symb_layer {
                display-name = "Symb";
// -----------------------------------------------------------------------------------------
// | ALT/ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// |  LCTL   | GUI |     | PAUS| HOME| PGUP|   |  +  |  =  |  \  |  [  |  ]  |  `   |
// |   DEL   | LY3 | LY4 | LY5 | END | PGDN|   |  -  |  -  |  <  |  >  |  |  |  TAB |
//                       | SHFT| LY0 | SPC |   | ENT | LY0 | ALT |
                        bindings = <
   &mt LALT ESC &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &kp LGUI &none &kp PAUSE_BREAK &kp HOME &kp PG_UP   &kp PLUS &kp EQUAL &kp BSLH &kp LBKT &kp RBKT &kp GRAVE
   &kp DEL &mo 3 &to 4 &mo 5 &kp END &kp PG_DN   &kp MINUS &kp MINUS &kp LT &kp GT &kp PIPE &kp TAB
                          &kp LSHFT &to 0 &kp SPACE   &kp RET &to 0 &kp LALT
                        >;
                };

                fns_layer {
                display-name = "Fns";
// -----------------------------------------------------------------------------------------
// |  ESC  |  LY0  |  LY4  |  LY5  | MAC5  |     |   |  F1  |  F2  |  F3  |  F4  |  F5  |  F6  |
// | LCTL  |       | LALT  | MAC1  | MAC2  | MAC0|   |  F7  |  F8  |  F9  | F10  | F11  | F12  |
// |  DEL  |       |       | MAC3  | MAC4  | MAC5|   | VOLD | VOLU | MUTE | PLAY |      | BSPC |
//                         | SHFT  |  LY0  | SPC |   | ENT  |  LY0 | ALT/TAB |
                        bindings = <
   &kp ESC &to 0 &to 4 &mo 5 &none &none   &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6
   &kp LCTRL &none &kp LALT &none &none &none   &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
   &kp DEL &none &none &none &none &none   &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE &kp C_PP &none &kp BSPC
                          &kp LSHFT &to 0 &kp SPACE   &kp RET &to 0 &mt LALT TAB
                        >;
                };

                numpad_layer {
                display-name = "NbPad";
// -----------------------------------------------------------------------------------------
// |       |     |     |     |     | NLCK|   | KP 7| KP 8| KP 9| KP -| KP *| BSPC |
// | LCTL  |     |     |     |     |     |   | KP 4| KP 5| KP 6| KP +| KP /|      |
// |  DEL  | LY3 | LY0 | LY5 |     |     |   | KP 1| KP 2| KP 3|  ,  |  .  |      |
//                     | SHFT| LY0 | SPC |   | ENT | KP 0| ALT/TAB |
                        bindings = <
   &none &none &none &none &none &kp KP_NUM   &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_MINUS &kp KP_MULTIPLY &kp BSPC
   &kp LCTRL &none &none &none &none &none   &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_PLUS &kp KP_DIVIDE &none
   &kp DEL &to 3 &to 0 &mo 5 &none &none   &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp COMMA &kp DOT &none
                          &kp LSHFT &to 0 &kp SPACE   &kp RET &kp KP_N0 &mt LALT TAB
                        >;
                };

                setting_layer {
                display-name = "kbSet";
// -----------------------------------------------------------------------------------------
// |       |     |     |     |     |     |    |   |     |     |     |     |     |      |
// | BTCLR | BT1 | BT2 | BT3 | BT4 | BT5 |    |   |     |     |     |     |     |      |
// |       | LY3 | LY4 |     |     |     |    |   |     |     |     |     |     |      |
//                     |     |  LY0|     |    |   | LY6 |     |
                        bindings = <
   &none  &none  &none  &none  &none  &none   &none &none &none &none &none &none
  &bt BT_CLR_ALL &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &none &none &none &none &none &none
   &none  &to 3 &to 4 &none &none &none   &none &none &none &none &none &none
                          &none &to 0 &none   &none &to 6 &none
                        >;
                };

                extra_1 {
                display-name = "Extr1";
// -----------------------------------------------------------------------------------------
// |       |     |     |     |     |     |   |     |     |     |     |     |      |
// | LCTL  |     |     |     |     |     |   |     |     |     |     |     |      |
// |       | LY3 | LY4 | LY5 |     |     |   |     |     |     |     |     |      |
//                     | SHFT| LY0 | SPC |   | ENT | LY7 | RALT|
                        bindings = <
   &none &none &none &none &none &none   &none &none &none &none &none &none
   &kp LCTRL &none &none &none &none &none   &none &none &none &none &none &none
   &none &to 3 &to 4 &mo 5 &none &none   &none &none &none &none &none &none
                          &kp LSHFT &to 0 &kp SPACE   &kp RET &to 7 &kp RALT
                        >;
                };

                extra_2 {
                display-name = "Extr2";
// -----------------------------------------------------------------------------------------
// |       |     |     |     |     |     |   |     |     |     |     |     |      |
// |       |     |     |     |     |     |   |     |     |     |     |     |      |
// |       |     |     |     |     |     |   |     |     |     |     |     |      |
//                     |     | LY0 |     |   |     |     |     |
                        bindings = <
   &none &none &none &none &none &none   &none &none &none &none &none &none
   &none &none &none &none &none &none   &none &none &none &none &none &none
   &none &none &none &none &none &none   &none &none &none &none &none &none
                          &none &to 0 &none   &none &none &none
                        >;
                };
        };
};